src/chrome/android/profiles/afdo.prof
src/chrome/build/pgo_profiles/
src/gn/
src/third_party/llvm-build/
src/third_party/android_toolchain/
src/out/
.vscode/
.idea/
.DS_Store
*.pyc
src/build/linux/*-sysroot
